In [1]:
import os
import requests #nos deja descargar toda la informacion de una página web
import pandas as pd
import numpy as np

In [73]:
url = "https://github.com/resbaz/data/blob/master/births/US_births_1994-2003_CDC_NCHS.csv"
html = requests.get(url).content #pedimos que nos dé el código dela página

In [76]:
file = "taxes.csv" #hacemos la variable que va a contener ese nombre o en este caso documento
os.path.isfile(file) #te dice si existe aún o no la variable que pides en el mismo directorio
#taxes_list = pd.read_html(html, header = 0)
#taxes = taxes_list[-1]
#taxes.to_csv(file)
taxes= pd.read_csv(file)

In [77]:
taxes

     Unnamed: 0  Unnamed: 0.1     Afghanistan  11.2% (of GDP) (2017 est.)
0             0             0         Albania  27.6% (of GDP) (2017 est.)
1             1             1         Algeria  32.3% (of GDP) (2017 est.)
2             2             2  American Samoa  37.8% (of GDP) (2016 est.)
3             3             3         Andorra         69% (of GDP) (2016)
4             4             4          Angola  29.3% (of GDP) (2017 est.)
..          ...           ...             ...                         ...
218         218           218  Western Sahara                         NaN
219         219           219           World  26.7% (of GDP) (2016 est.)
220         220           220           Yemen     9% (of GDP) (2017 est.)
221         221           221          Zambia  17.4% (of GDP) (2017 est.)
222         222           222        Zimbabwe  21.5% (of GDP) (2017 est.)

[223 rows x 4 columns]

Como podemos notar, el primer renglón es también parte de nuestros datos. Queremos remover este error

In [15]:
index = taxes.index
#index

In [23]:
columns = taxes.columns
#columns

Index(['Unnamed: 0', 'Afghanistan', '11.2% (of GDP) (2017 est.)'], dtype='object')

No encontré en internet cómo hacer esto, y lo que encontré no entendí a qué se refirió

In [41]:
taxes_new = taxes.rename(columns={'Unnamed: 0':'Entry','Afghanistan': 'Country', '11.2% (of GDP) (2017 est.)':'% of GDP (gross domestic product)'})
taxes_new

     Entry         Country % of GDP (gross domestic product)
0        0         Albania        27.6% (of GDP) (2017 est.)
1        1         Algeria        32.3% (of GDP) (2017 est.)
2        2  American Samoa        37.8% (of GDP) (2016 est.)
3        3         Andorra               69% (of GDP) (2016)
4        4          Angola        29.3% (of GDP) (2017 est.)
..     ...             ...                               ...
218    218  Western Sahara                               NaN
219    219           World        26.7% (of GDP) (2016 est.)
220    220           Yemen           9% (of GDP) (2017 est.)
221    221          Zambia        17.4% (of GDP) (2017 est.)
222    222        Zimbabwe        21.5% (of GDP) (2017 est.)

[223 rows x 3 columns]

In [70]:
countries = taxes_new['Country']
countries
#we are setting the main label or index to be the countries
taxes_new.set_index('Country')
#y = taxes_new['% of GDP (gross domestic product)']

#taxes_new['% of GDP (gross domestic product)']

#taxes_new2 = pd.DataFrame(['% of GDP (gross domestic product)' y.values, index = taxes_new['Country']])
#taxes_new2

                Entry % of GDP (gross domestic product)
Country
Albania             0        27.6% (of GDP) (2017 est.)
Algeria             1        32.3% (of GDP) (2017 est.)
American Samoa      2        37.8% (of GDP) (2016 est.)
Andorra             3               69% (of GDP) (2016)
Angola              4        29.3% (of GDP) (2017 est.)
...               ...                               ...
Western Sahara    218                               NaN
World             219        26.7% (of GDP) (2016 est.)
Yemen             220           9% (of GDP) (2017 est.)
Zambia            221        17.4% (of GDP) (2017 est.)
Zimbabwe          222        21.5% (of GDP) (2017 est.)

[223 rows x 2 columns]

In [63]:
taxes_new2.dropna() #remueve todos los renglones con valores vacíos

                                         0
Country
Albania         27.6% (of GDP) (2017 est.)
Algeria         32.3% (of GDP) (2017 est.)
American Samoa  37.8% (of GDP) (2016 est.)
Andorra                69% (of GDP) (2016)
Angola          29.3% (of GDP) (2017 est.)
...                                    ...
West Bank       13.4% (of GDP) (2017 est.)
World           26.7% (of GDP) (2016 est.)
Yemen              9% (of GDP) (2017 est.)
Zambia          17.4% (of GDP) (2017 est.)
Zimbabwe        21.5% (of GDP) (2017 est.)

[220 rows x 1 columns]